@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row" id="Classes" width="100%">
    @foreach (var table in IndexModel.Classes)
    {
        <table style="float: left;border:@IndexModel.BorderColor">
            <tr>
                <th style="border:@IndexModel.BorderColor" width:100%>@table.Title</th>
                <th style="border:@IndexModel.BorderColor" width:100%>Due Date</th>
                <th style="border:@IndexModel.BorderColor" width:100%>Status</th>
            </tr>
            @foreach (var homeWork in table.HomeWorks)
            {
                <tr style="border:@IndexModel.BorderColor background: @IndexModel.Color(homeWork.DueDate)">
                    <td contenteditable width:100% style="border:@IndexModel.BorderColor">@homeWork.Title</td>
                    <td width:100% style="border:@IndexModel.BorderColor">
                        <input type="date" style="border: none; background: @IndexModel.Color(homeWork.DueDate);" value="@homeWork.DueDate.ToString("yyyy-MM-dd")"/>
                    </td>
                    <td width:100% style="border:@IndexModel.BorderColor">
                        <select style="border: none; background: @IndexModel.Color(homeWork.DueDate);">
                            @foreach (Models.Enum.Status status in Enum.GetValues(typeof(Models.Enum.Status)))
                            {
                                @:<option @IndexModel.SelectedOption(status, homeWork.Status)> @IndexModel.FormatStatus(status) </option>
                            }
                        </select>
                    </td>
                </tr>
            }
        </table>
    }
</div>